body{
    background-color: #029daf;
    width: 100%;
    margin: 0;
}

nav{
    background-color: #ffc219;
    width: 100%;
    padding: 15px; 
    margin: 0;
    text-align:right;
}

.listanav {
    margin-right: 50px;
    list-style-type: none;
    display: inline; 
    text-align: right;
}

.listanav li {
    margin-left: 20px;
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(58, 58, 58);
}

.listanav li:hover {
    color: #ffffff;
}

.inicio {
    display: flex;
    color: #ffc219;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.inicio h1{
    margin: auto; 
    font-size: 25px;
}

span{
    color: #f9f9f9;
}
.sobremi {
    color: #f9f9f9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    flex-direction: column;
}

.sobremi p {
    margin-left: 40px; 
    margin-right: 40px; 
}


footer{
    background-color: #ffc219;
    padding: 30px;
    margin-top: 100px;
    width: 100%;
}


.lista-footer{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

li{
    list-style-type: none;
    display: inline;
}

a{
    text-decoration: none;
}