body{
    background-color: #029daf;
    width: 100%;
    margin: 0;
}

nav{
    background-color: #ffc219;
    width: 100%;
    padding: 15px; 
    margin: 0;
    text-align:right;
}

.listanav {
    margin-right: 50px;
    list-style-type: none;
    display: inline; 
    text-align: right;
}

.listanav li {
    margin-left: 20px;
    display: inline;
}
